<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <form align='right' action='/logoff' method='post'>
      <input type='submit' value='Logout'/>
    </form>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>, <%= locals.user %></p>
    <form class='form-inline' action='/entry' method='post'>
      <div class='form-group'>
        <input type='text' name='miles' placeholder='Distance'/>
      </div>
      <div class='form-group'>
        <input type='text' name='gas' placeholder='Amount of gas'/>
      </div>
      <button type='submit' class='btn btn-primary'>Add</button>
    </form>
    <% if (errors) { %>
    <% errors.forEach(function(error) { %>
    <span class='label label-danger'><%= error %></span>
    <% }) %>
    </br>
    <% } %>
    <% if (entries[0]) { %>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>MPG</th>
          <th>Distance (mi)</th>
          <th>Gas (gal)</th>
        </tr>
      </thead>
      <tbody>
        <% entries.forEach(function(entry) { %>
        <tr>
          <td><%= entry.mpg.toFixed(2) %></td>
          <td><%= entry.miles.toFixed(2) %></td>
          <td><%= entry.gas.toFixed(2) %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
